.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-container input,
  .form-container textarea,
  .form-container select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  
  .delete-section {
    margin-top: 10rem;
    text-align: center;
  }
  
  .delete-section h2 {
    margin-bottom: 10px;
  }
  
  .delete-section button {
    padding: 8px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-section button:hover {
    background-color: #d32f2f;
  }
  
  